body {
    margin: 0;
}

hr {
    width: 80%;
    opacity: 25%;
    margin: 5px auto;
}

.img-link {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 0;
    padding: 0;
    margin-top: 15px;
}

#logo-side {
    height: 75%;
}

#greeting, #roomid {
    text-align: center;
}

h2, h4, #your-chats, #roomid, #user-warning-text, .room-name, .no-chats-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.room-name {
    font-weight: 600;
}

#your-chats {
    margin: 5px 0 0 20px;
}

.no-chats-text {
    text-align: center;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 30px;
}

#maincontainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    transition: opacity 2s;
}

#side-bar {
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: #FAFAFA;
    min-width: 300px;
    max-height: 100%;
    box-shadow: -1px 1px 12px 0px gray;
}

#logo-side {
    margin: 20px 60px;
}

#room-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    padding-bottom: 65px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.room {
    margin: 7px 10px;
    padding: 12px 15px;
    background-color: white;
    border-radius: 20pt;
    box-shadow: 1px 1px 7px -4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.room:hover {
    cursor: pointer;
    border-left: 2px solid rgb(76, 64, 255);
}

.room-active {
    border-right: 10px solid rgb(91, 89, 252);
}

.new-message-indicator {
    width: 10px;
    height: 10px;
    background-color: rgb(80, 61, 255);
    border-radius: 5pt;
}

#floating-button-row {
    width: 100%;
    height: 65px;
    display: flex;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3px;
}

#floating-button-subrow {
    height: 80%;
    display: flex;
    margin: 0 10px;
    gap: 10px;
    align-items: end;
}

.floating-button {
    height: 80%;
    aspect-ratio: 1;
    margin: 0 10px;
    border: none;
    border-radius: 20pt;
    color: white;
    font-size: x-large;
    box-shadow: 0.5px 1px 3px 0.5px gray;
}

.floating-button-small {
    margin: 0;
    font-size: large;
}

#chat-container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    width: 100%;
    padding: 0 15px 10px 15px;
    opacity: 0;
    transition: opacity 1s;
}

#chatbox {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    gap: 10px;
    padding: 10px 10px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.chatmsg {
    height: fit-content;
    background-color: white;
    padding: 10px 15px;
    border-radius: 15pt;
    box-shadow: 1px 1px 7px -5px;
    word-break: keep-all;
    word-wrap: break-word;
}

.msgauthor {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    font-weight: bold;
}

.msgcontent {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    margin-top: 3px;
}

.msgself {
    background-color: rgb(100, 121, 255);
    color: white;
    box-shadow: 1px 1px 7px -3px black;
}

#input-box {
    display: flex;
    gap: 10px;
    max-width: 100%;
}

#chatinput {
    width: 100%;
    padding: 5px 15px;
    height: 30px;
    border: none;
    border-radius: 20pt;
    box-shadow: 0.5px 1px 3px 0px gray;
}

#chatinput:focus, #user-input:focus, #chat-name-input:focus {
    outline: 1px solid gray;
}

#send-button {
    height: 100%;
    aspect-ratio: 1;
    border: none;
    border-radius: 20pt;
    box-shadow: 0.5px 1px 3px 0px gray;
    color: white;
    font-weight: bolder;
    font-size: large;
}

.floating-button, #send-button {
    background-color: rgb(83, 94, 255);
    cursor: pointer;
}

.floating-button:hover, #send-button:hover {
    background-color: rgb(73, 76, 226);
}

.floating-button:active, #send-button:active {
    background-color: rgb(62, 71, 204);
}

dialog {
    border: none;
    border-radius: 25pt;
    box-shadow: 1px 5px 20px -10px black;
    padding: 30px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
}

.dialog-text {
    margin: 0;
    text-align: center;
}

#new-chat-dialog {
    min-width: 300px;
    max-width: 500px;
    width: auto;
}

#dm-chat-button-row {
    height: 35px;
    display: flex;
    justify-content: center;
    margin: 15px 0 30px 0;
}

#dm-chat-button-outskirt {
    box-shadow: 0.5px 1px 3px 0px gray;
    width: 50%;
    min-width: fit-content;
    display: flex;
    border-radius: 20pt;
}

.dm-chat-button {
    width: 50%;
    min-width: fit-content;
    border: none;
    background-color: white;
    cursor: pointer;
}

.dm-chat-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.dm-chat-button:active {
    background-color: rgba(0, 0, 0, 0.1);
}

#dm-button {
    border-radius: 20pt 0 0 20pt;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

#chat-button {
    border-radius: 0 20pt 20pt 0;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
}

.dm-chat-button-selected {
    background-color: rgb(83, 94, 255);
    color: white;
    border: none;
}

.dm-chat-button-selected:hover, #add-user-button:hover {
    background-color: rgb(72, 84, 240);
}

.dm-chat-button-selected:active, #add-user-button:active {
    background-color: rgb(67, 77, 219);
}

#add-user-button:disabled {
    background-color: rgba(0, 0, 0, 0.2);
    color: black;
    cursor: default;
}

#users-box {
    background-color: rgba(0, 0, 0, 0.01);
    height: 30px;
    border-radius: 20pt;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 5px 10px;
    box-shadow: 0.5px 1px 3px 0px gray;
    overflow-x: scroll;
}

.users-box-entry {
    width: fit-content;
    border: none;
    border-radius: 20pt;
    padding: 5px 10px;
    box-shadow: 0.5px 0.5px 3px -0.5px gray;
    font-weight: 600;
    cursor: pointer;
}

#new-chat-users-text, #chat-name-text {
    margin: 10px 10px 5px 10px;
}

#user-input-box, #chat-name-input-box {
    height: 30px;
    border-radius: 20pt;
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
    gap: 10px;
}

#chat-name-input-box {
    margin: 0;
}

.full-hidden {
    display: none !important;
}

#user-input, #chat-name-input {
    border: none;
    border-radius: 20pt;
    box-shadow: 0.5px 1px 3px 0px gray;
    padding: 0 10px;
}

#chat-name-input {
    width: 100%;
}

#add-user-button {
    border: none;
    border-radius: 20pt;
    box-shadow: 0.5px 1px 3px 0px gray;
    padding: 0 10px;
    background-color: rgb(83, 94, 255);
    color: white;
    cursor: pointer;
}

#user-warning-text {
    color: red;
    align-self: center;
}